.nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.nav a{
    font-weight: 300;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color:rgba(255, 255, 255, 0.8);
}

.nav a:hover{
    font-weight: 500;
}
