<nav class="vf-navigation vf-navigation--main | vf-cluster">
    <ul class="vf-navigation__list | vf-list | vf-cluster__inner">
      <li class="vf-navigation__item">
        <a href="JavaScript:Void(0);" class="vf-navigation__link" aria-current="page">Home</a>
      </li>
      <li class="vf-navigation__item">
        <a href="JavaScript:Void(0);" class="vf-navigation__link">Projects</a>
      </li>
      <li class="vf-navigation__item">
        <a href="JavaScript:Void(0);" class="vf-navigation__link">Tutorials</a>
      </li>
      <li class="vf-navigation__item">
        <a href="JavaScript:Void(0);" class="vf-navigation__link">About</a>
      </li>
    </ul>
  </nav>
