/* You can add global styles to this file, and also import other style files */
.heading-1 {
    font-family: 'HoeflerText-Regular, Cochin, Georgia, serif';
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 63px; /* 150% */
  }
  
  /* Heading 2 */
  .heading-2 {
    font-family: 'HoeflerText-Regular, Cochin, Georgia, serif';
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 39px; /* 130% */
  }

  /* Heading 3 */
  .heading-3 {
    font-family: 'HoeflerText-Regular, Cochin, Georgia, serif';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 31.2px; /* 130% */
  }


  /* Heading 4 */
  .heading-4 {
    font-family: 'HoeflerText-Regular, Cochin, Georgia, serif';
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 27.3px; /* 130% */
  }
  
  
  /* Heading 5 */
  .heading-5 {
    font-family: 'HoeflerText-Regular, Cochin, Georgia, serif';
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: 28.5px; /* 150% */
  }

  /* Paragraphs/P2 */
.paragraph-2 {
    font-family: 'HoeflerText-Regular, Cochin, Georgia, serif';
    font-size: 21px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    text-align: justify;
    text-decoration: none;
  }
  
  /* Paragraphs/P3 */
  .paragraph-3 {
    font-family: 'HoeflerText-Regular, Cochin, Georgia, serif';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.2px; /* 170% */
  }
  
  /* Paragraphs/P4 */
  .paragraph-4 {
    font-family: 'HoeflerText-Regular, Cochin, Georgia, serif';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.4px; /* 160% */
  }

  .main-container {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 25px;
    width: 100%;
  }