<div class="experience-container">
    <span class="heading-2"> Experience</span>
    @for(exp of data; track exp){
        <div class="experience">
            <div class="description">
                <div class="header">
                    <span class="heading-3"> {{exp.role}} - {{exp.organisation}}</span>
                    <span class="paragraph-2"> {{exp.duration.begin}} - {{exp.duration.end}} </span>
                </div>
                <ul class="content">
                    @for(content of exp.description; track content){
                        <li class="paragraph-2"> {{content}}</li>
                    }
                </ul>
            </div>
            <div class="logo">
                <img src="{{exp.logo}}">
            </div>

        </div>

    }
    <!-- <div class="experience">
        <div class="description">
            <span class="heading-3"> Scientific Programmer - PDBe, EMBL-EBI</span>
            <span class="paragraph-2"> Sep 2022 - Present </span>
            <span class="paragraph-2"> As a scientific programmer at PDBe, I develop and maintain scientifc tools for researchers to help them advance their
                studies related to small moelcules in the PDB. I was one of the leading developers of <a target="_blank" 
                href="https://gtr.ukri.org/projects?ref=BB%2FT01959X%2F1#/tabOverview">BioChemGraph</a> project: a collaborative project between PDBe, CCDC and ChEMBL 
                to create an easily accessible resource that integrates structural, functional and biochemical annotations of small molecule data into one place.
                In this capacity I developed an automated process to identify multiple covalently linked chemical components in the PDB, 
                creating more accurate and complete representation of small molecules. I also optimised a process to calculate protein ligand-inteaction data for the 
                entire PDB archive (>200,000 structures) and 
                <li>
                    <div class="tools">
                        <a class="paragraph-2" target="_blank" href="https://github.com/PDBeurope/ccdutils">PDBe CCDUtils</a> 
                        <span>Python package to streamline the processing and analysing of small molecules in the PDB  </span>
                    </div>
                    <div class="tools">
                        <a class="paragraph-2" target="_blank" href="https://github.com/PDBeurope/ccdutils">PDBe Arpeggio</a> 
                        <span>Python package to streamline the processing and analysing of small molecules in the PDB  </span>
                    </div>
                    <div class="tools">
                        <a class="paragraph-2" target="_blank" href="https://github.com/PDBeurope/arpeggio">PBeChem</a> 
                        <span>Python package to calculate interatomic interaction in macromolecular structures</span>
                    </div>
                    
                </li>
            </span>
        </div>
        <div class="logo">
            <img src="../../assets/EMBL_EBI_Logo_black.svg">
        </div>
    </div> -->
</div>

